<!-- <div [class.app-shell]="true" [class.sidebar-collapsed]="collapseSidebar" >
  <aside class="sidebar" [class.show]="mobileSidebarVisible">
    <app-sidebar (toggleSidebar)="toggleSidebar()"></app-sidebar>
  </aside>

  <header class="topbar">
    <app-header (toggleSidebar)="toggleSidebar()"></app-header>
  </header>

  <main class="content" (click)="closeMobileSidebar()">
    <app-dashboard></app-dashboard>
  </main>

  <footer class="app-footer">
    <app-footer></app-footer>
  </footer>
</div> -->
<div class="app-container">
  <aside class="sidebar" [class.show]="mobileSidebarVisible">
    <app-sidebar (toggleSidebar)="toggleSidebar()"></app-sidebar>
  </aside>

  <div class="main-area">
    <header class="topbar">
      <app-header (toggleSidebar)="toggleSidebar()"></app-header>
    </header>

    <main class="content" (click)="closeMobileSidebar()">
      <app-dashboard></app-dashboard>
    </main>

    <footer class="app-footer">
      <app-footer></app-footer>
    </footer>
  </div>
</div>

