<main class="header">
  <div class="left">
    <button class="btn btn-outline-secondary d-md-none" (click)="onToggle()">
      <i class="fas fa-bars"></i>
    </button>

    <div class="search-box">
      <i class="fas fa-search"></i>
      <input [(ngModel)]="search" placeholder="Search employees, jobs..." />
    </div>
  </div>

  <div class="header-actions">
    <div class="dropdown notif-dropdown">
      <button class="btn btn-light position-relative" id="notifBtn" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="far fa-bell"></i>
        <span class="badge bg-danger rounded-pill notif-badge">3</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end p-2" aria-labelledby="notifBtn">
        <li *ngFor="let n of notifications">
          <div class="notif-item">
            <div class="notif-text">{{ n.text }}</div>
            <div class="notif-time">{{ n.time }}</div>
          </div>
          <hr class="my-1" />
        </li>
        <li><a class="dropdown-item text-center" href="#">View all notifications</a></li>
      </ul>
    </div>

    <div class="dropdown user-dropdown">
      <button class="btn btn-light user-btn" id="userBtn" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://i.pravatar.cc/32?img=12" /> 
        <div class="d-md-block d-none">
          Aditya <i class="fas fa-chevron-down fa-xs"></i>
        </div>
      </button>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userBtn">
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item text-danger" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>
</main>
